
<header>
  <div class="container">
    <h1 class="logo">Vintage Vault</h1>
    <div class="container-header">
     <nav class="nav-words-container">
        <a class="nav-words" href="">Productos</a>
        <a class="nav-words" href="">About</a>
        <a class="nav-words" href="">Colaboraciones</a>
     </nav>
    </div>
    <div class="iconos-header-container">
        <a class="iconos-header" href=""><i class="bi bi-bag-dash"></i></a>
        <a class="iconos-header" href=""><i class="bi bi-search"></i></a>
        <a class="iconos-header" href=""><i class="bi bi-list"></i></a>
    </div>
  </div>
</header>
<hr class="hr-header">