
<header>
  <div class="container-header">
    <h1 class="logo">VintageVault</h1>
    <div class="container-header">
     <nav class="nav-words-container">
        <a class="nav-words" href="#productos">Productos</a>
        <a class="nav-words" href="#about">About</a>
        <a class="nav-words" href="#colaboraciones">Colaboraciones</a>
     </nav>
    </div>
    <div class="iconos-header-container">
        <a class="iconos-header" href=""><i class="bi bi-bag-dash"></i></a>
        <a class="iconos-header" href=""><i class="bi bi-search"></i></a>
        <a class="iconos-header" href=""><i class="bi bi-list"></i></a>
    </div>
  </div>
  <hr class="hr-header">
</header>
