<main class="hero">
    <div class="titulo-hero">
     <h1>KEEP LOOKING</h1>
     <h1>STYLISH <i class="bi bi-arrow-down-right stylishArrow"></i></h1> 
    </div>
    <div class="container-hero">
       <div class="first-div">
         <h1 class="logo-hero">Vintage Vault<h1>
         <p class="text-hero">Hacemos que tu apariencia no esté desactualizada.
         VintageVault está aquí para que
         tengas colecciones de zapatos según las tendencias mas recientes</p>
         <img class="codigo-barra-img" src="/img/Codebar.png" alt="">
       </div>
       <div class="second-div">
          <div class="ring-text">
            
          </div>
          <!-- <img src="/img/Jordan-Red.jpg" alt="" class="img-hero">  -->
       </div>
       <img src="/img/Jordan-Red.jpg" alt="" class="img-hero"> 
    </div>
</main>