<main>
    <div class="titulo">
     <h1>KEEP LOOKING</h1>
     <h1>STYLISH <i class="bi bi-arrow-down-right"></i></h1> 
    </div>
    <div class="container-hero">
       <div class="first-div">
         <h1 class="logo-hero">Vintage Vault<h1>
         <p>Hacemos que tu apariencia no esté desactualizada.
         VintageVault está aquí para que
         tengas colecciones de zapatos según las tendencias mas recientes</p>
         <img src="" alt="">
       </div>
       <div class="second-div">
        <span
        class="text-ring"
        style="--total: 15;"
      >
        <span aria-hidden="true">
          <span style="--index: 0">B</span>
          <span style="--index: 1">u</span>
          <span style="--index: 2">y</span>
          <span style="--index: 3">H</span>
          <span style="--index: 4">e</span>
          <span style="--index: 5">r</span>
          <span style="--index: 6">e</span>
          <span style="--index: 7">B</span>
          <span style="--index: 8">u</span>
          <span style="--index: 9">y</span>
          <span style="--index: 10">H</span>
          <span style="--index: 11">e</span>
          <span style="--index: 12">r</span>
          <span style="--index: 13">e</span>
          <span style="--index: 14">$</span>
          <!-- Obfuscated markup -->
        </span>
        <span class="sr-only">
          Your text here
        </span>
      </span>
         <img src="/public/img/Jordan-RedTwo.jpg" alt="" class="img-hero">
       </div>
    </div>
</main>