<main class="mainOne">
    <div class="first-div-mainOne">
        <h3 class="h3-mainOne"> ✖ NUESTRA HISTORIA</h3> 
        <p class="texto-mainOne">Vintage Vault nace de la idea apasionada de dos coleccionistas. Compartiendo su amor por las zapatillas vintage, transformaron su pasión en una tienda única, ofreciendo exclusivas piezas históricas a los amantes del calzado.</p> 
    </div>
    <hr class="hr-mainOne">
    <div class="second-div-mainOne">
        <h3 class="h3-mainOne"> + NUESTRO OUTLET</h3> 
        <p class="texto-mainTwo">En nuestro Outlet, Vintage Vault se enorgullece de ofrecer zapatillas vintage a precios irresistibles. Descubre verdaderas joyas de estilo y calidad en nuestra selección exclusiva de calzado retro, ¡sin romper tu presupuesto!</p> 
    </div>
    <hr class="hr-mainOne">
    <div class="third-div-mainOne">
        <h3 class="h3-mainOne"> + CONTACTO</h3> 
        <p class="texto-mainThird">Para contactaros, puedes hacerlo directamente desde nuestras redes sociales. Si tienes dudas en cuanto a envios, talles y otros, puedes contactarnos por Email.
        En VintageVault siempre estamos pendientes de nuestra bandeja de entrada :)
        </p> 
    </div>
    <hr class="hr-mainOne">
</main>