<main>
    <hr>
    <div>
      <h1>APROVECHA NUESTRAS OFERTAS</h1>
      <p>Start Shoping <i class="bi bi-arrow-up-right"></i></p>
    </div>
    <div>
        <hr>
    </div>
    <div>
       <h1>Vintage Vault</h1>
       <p>Productos</p>
       <p>Sobre nosotros</p>
       <p>Colaboraciones</p>
    </div>
    <div>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-facebook"></i>
    </div>
    <hr>
</main>