
    <main class="mainFour" id="productos">
  <div class="first-container">
    <div class="h2-p-container">
      <h2 class="h2-mainFour">TENDENCIAS EN STOCK</h2>
      <p class="p-mainFour">Ver todo <i class="bi bi-arrow-up-right"></i> </p>
    </div>
    <div class="first-container-img">
      <div class="boxOne">
        <img class="img-first-container" src="/img/Jordan-WineRed.jpg" alt="">
        <hr class="hr-first-container">
        <p class="titulo-zapas">Air Jordan 1 Mid SE</p>
        <p class="precio-zapas">$ 79.999</p>
      </div>
      <div class="boxTwo">
        <img class="img-second-container" src="/img/Green-Converse.jpg" alt="">
        <div class="contenedor-hr-p-p">
        <hr class="hr-first-container">
        <p class="titulo-zapas">Chuck Taylor All Star Classic</p>
        <p class="precio-zapas">$30.000</p>
       </div>
      </div>
      <div class="boxThree">
        <img class="img-first-container" src="/img/Vans-Boots.jpg" alt="">
        <hr class="hr-first-container">
        <p class="titulo-zapas">U SK8-HI</p>
        <p class="precio-zapas">$ 36.900</p>
      </div>
    </div>
  </div>  

  <div class="second-container" id="colaboraciones">
    <div class="h2-p-container">
      <h2 class="h2-mainFour">COLABORACIONES</h2>
      <p class="p-mainFour">Ver todo <i class="bi bi-arrow-up-right"></i> </p>
    </div>
    <div class="colab-img-divs">
      <div class="colab-img-div1">
        <p class="p-colab1">Bad Bunny Adidas x Collab <i class="bi bi-arrow-up-right logo-colab"></i></p>
        <img class="img-colab" src="/img/collab-adidas.jpg" alt="">
      </div>
      <div class="colab-img-div2">
        <p class="p-colab2">Billie Elish Nike x Collab <i class="bi bi-arrow-up-right logo-colab"></i></p>
        <img class="img-colab" src="/img/collab-nike.jpg" alt="">
      </div>
      <div class="colab-img-div3">
        <p class="p-colab3">Hasbro Vans x Collab <i class="bi bi-arrow-up-right logo-colab"></i></p>
        <img class="img-colab3" src="/img/collab-vans.jpg" alt="">
      </div>
    </div>
  </div>  
</main>