<main class="mainFive">
    <hr class="hr-top-bottom">
    <div class="container-flex">
     <div class="firstDiv-mainFive">
      <h1 class="h1-mainFive-titulo">APROVECHA NUESTRAS OFERTAS</h1>
      <p class="p-mainFive-titulo">Compra Ahora <i class="bi bi-arrow-up-right"></i></p>
     </div> 
     <div class="hr-vertical-conteiner">
        <hr class="hr-vertical">
     </div>

     <div class="contenedor">
      <div class="secondDiv-mainFive">
        <h1 class="h1-secondDiv">Vintage Vault</h1>
        <a class="a-mainFive" href="#productos"><p class="p-secondDiv">Productos</p></a>
        <a class="a-mainFive" href="#about"><p class="p-secondDiv">Sobre nosotros</p></a>
        <a class="a-mainFive" href="#colaboraciones"><p class="p-secondDiv">Colaboraciones</p></a>
      </div>
      <div class="div-logos">
        <a href="https://instagram.com/mechaa.wav?igshid=OGQ5ZDc2ODk2ZA=="  target='_blank'><i class="bi bi-instagram logos-mainFive"></i></a>
        <a href="https://instagram.com/mechaa.wav?igshid=OGQ5ZDc2ODk2ZA=="  target='_blank'><i class="bi bi-twitter logos-mainFive"></i></a>
        <a href="https://instagram.com/mechaa.wav?igshid=OGQ5ZDc2ODk2ZA=="  target='_blank'><i class="bi bi-facebook logos-mainFive"></i></a>
      </div>
    </div>
  </div>
    <hr class="hr-top-bottom">
</main>