<main class="mainTwo">
    <div class="firstDiv-mainTwo">
        <h2 class="titulo-mainTwo">COLLECCIÓN VAULT</h2>
        <div class="div-navwords-mTwo">
            <nav class="navWords-mainTwo">
               <a class="a-mainTwo" href="">Jordan •</a>
               <a class="a-mainTwo" href=""> Forum •</a>
               <a class="a-mainTwo" href=""> Old Skul •</a>
               <a class="a-mainTwo" href=""> Chuck Taylor</a>
            </nav>
        </div>
    </div>
    <img class="img-mainTwo" src="/img/Nike-Mid-Boot.jpg" alt="">
    <div class="secondDiv-mainTwo">
        <div>
        <p class="p-mainTwo">OFERTAS DESDE</p>
         <h1 class="precio-mainTwo">$27.000
         </h1>
        </div>
        <div class="precio-descripcion">
            <p class="textoDos-mainTwo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum recusandae, ab dicta corrupti in tenetur quibusdam consequuntur, quaerat tempora blanditiis facere laudantium placeat suscipit aliquam officiis illo inventore, adipisci iusto?</p>
        </div>
    </div>
</main>