<main class="mainOne">
    <div class="first-div-mainOne">
        <h3 class="h3-mainOne"> ✖ NUESTRA HISTORIA</h3> 
        <p class="texto-mainOne">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis in dolorum exercitationem quisquam quidem impedit ad consequuntur, sapiente ut, voluptatibus magni placeat! Nostrum quidem eius voluptate dicta dolorem eveniet?</p> 
    </div>
    <hr class="hr-mainOne">
    <div class="second-div-mainOne">
        <h3 class="h3-mainOne"> + NUESTRO OUTLET</h3> 
        <p class="texto-mainTwo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis in dolorum exercitationem quisquam quidem impedit ad consequuntur, sapiente ut, voluptatibus magni placeat! Nostrum quidem eius voluptate dicta dolorem eveniet?</p> 
    </div>
    <hr class="hr-mainOne">
    <div class="third-div-mainOne">
        <h3 class="h3-mainOne"> + CONTACTO</h3> 
        <p class="texto-mainThird">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis in dolorum exercitationem quisquam quidem impedit ad consequuntur, sapiente ut, voluptatibus magni placeat! Nostrum quidem eius voluptate dicta dolorem eveniet?</p> 
    </div>
    <hr class="hr-mainOne">
</main>