<main>
  <div>
    <div>
      <h2>TENDENCIAS EN STOCK</h2>
      <p>Ver todo <i class="bi bi-arrow-up-right"></i> </p>
    </div>
    <div>
      <div>
        <img src="" alt="">
        <hr>
        <p>FORUM LOW</p>
        <p>$ 25.000</p>
      </div>
      <div>
        <img src="" alt="">
        <hr>
        <p>FORUM LOW</p>
        <p>$ 25.000</p>
      </div>
      <div>
        <img src="" alt="">
        <hr>
        <p>FORUM LOW</p>
        <p>$ 25.000</p>
      </div>
    </div>
  </div>  

  <div>
    <div>
      <h2>COLLABORACIONES</h2>
      <p>Ver todo <i class="bi bi-arrow-up-right"></i> </p>
    </div>
    <div>
      <div>
        <p>Classic Nike <i class="bi bi-arrow-up-right"></i></p>
        <img src="" alt="">
      </div>
      <div>
        <p>Classic Nike <i class="bi bi-arrow-up-right"></i></p>
        <img src="" alt="">
      </div>
      <div>
        <p>Classic Nike <i class="bi bi-arrow-up-right"></i></p>
        <img src="" alt="">
      </div>
    </div>
  </div>  
</main>