<main>
    <div>
        <h1>NUEVOS ARRIVALS</h1>
        <p> < > </p>
    </div>
    <div>
        <img src="" alt="">
        <div>
           <h4> YELLOW FORUM LOW CLASSIC</h4>
           <i class="bi bi-arrow-down-right-circle-fill"></i>
        </div>
        <img src="" alt="">
        <div>
          <h4> BLUE AIR JORDAN 1 LOW</h4>
          <i class="bi bi-arrow-down-right-circle-fill"></i>
        </div>
    </div>
</main>