<main>
    <div>
        <h2>COLLECCION VAULT</h2>
        <div>
            <nav>
               <a href="">Jordan</a>
               <a href="">Forum</a>
               <a href="">Old Skul</a>
               <a href="">Chuck Taylor</a>
            </nav>
        </div>
    </div>
    <img src="" alt="">
    <div>
        <p>OFERTAS DESDE</p>
        <div>
            <h1>$27.000</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum recusandae, ab dicta corrupti in tenetur quibusdam consequuntur, quaerat tempora blanditiis facere laudantium placeat suscipit aliquam officiis illo inventore, adipisci iusto?</p>
        </div>
    </div>
</main>