<main class="mainThree">
    <div class="firstDiv-mainThree">
        <h1 class="titulo-mainThree">NUEVOS ARRIVALS</h1>
        <p class="boton-mainThree"> < > </p>
    </div>
    <div class="secondDiv-mainThree">
        <div class="container1-threeMain">
          <img class="firstimg-mainThree" src="/img/Forum-Low-Yellow.avif" alt="">
         <div class="forum-yellow-div">
           <h4 class="h4-mainThree"> YELLOW FORUM LOW CLASSIC</h4>
           <i class="bi bi-arrow-up-right-circle-fill logo-mainThree"></i>
         </div>
        </div>
        <div class="container2-threeMain">
         <img class="secondimg-mainThree" src="/img/Blue-Jordan-Low.jpg" alt="">
         <div class="blue-air-jordan-div">
          <h4 class="h4Dos-mainThree"> BLUE AIR JORDAN 1 LOW</h4>
          <i class="bi bi-arrow-up-right-circle-fill logo-mainThree"></i>
         </div>
        </div>
    </div>
</main>