<main>
    <div>
        <h3><i class="bi bi-x-lg-"></i>NUESTRA HISTORIA</h1> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis in dolorum exercitationem quisquam quidem impedit ad consequuntur, sapiente ut, voluptatibus magni placeat! Nostrum quidem eius voluptate dicta dolorem eveniet?</p> 
    </div>
    <hr>
    <div>
        <h3><i class="bi bi-plus-lg-"></i>NUESTRO OUTLET</h1> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis in dolorum exercitationem quisquam quidem impedit ad consequuntur, sapiente ut, voluptatibus magni placeat! Nostrum quidem eius voluptate dicta dolorem eveniet?</p> 
    </div>
    <hr>
    <div>
        <h3><i class="bi bi-plus-lg-"></i>CONTACTO</h1> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis in dolorum exercitationem quisquam quidem impedit ad consequuntur, sapiente ut, voluptatibus magni placeat! Nostrum quidem eius voluptate dicta dolorem eveniet?</p> 
    </div>
    <hr>
</main>