@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url(//db.onlinewebfonts.com/c/f6c01b136cf37a7e4537ec580df08e63?family=Novecento+Wide+DemiBold);
@font-face {font-family: "Novecento Wide DemiBold"; src: url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.eot"); src: url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.woff") format("woff"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.svg#Novecento Wide DemiBold") format("svg"); }
@import url(//db.onlinewebfonts.com/c/795f6dafe6d8931ce7756e1305ee133b?family=Carmen+Sans);
@font-face {font-family: "Carmen Sans"; src: url("//db.onlinewebfonts.com/t/795f6dafe6d8931ce7756e1305ee133b.eot"); src: url("//db.onlinewebfonts.com/t/795f6dafe6d8931ce7756e1305ee133b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/795f6dafe6d8931ce7756e1305ee133b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/795f6dafe6d8931ce7756e1305ee133b.woff") format("woff"), url("//db.onlinewebfonts.com/t/795f6dafe6d8931ce7756e1305ee133b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/795f6dafe6d8931ce7756e1305ee133b.svg#Carmen Sans") format("svg"); }


/* Header */
 
header{
     background-color: #73885F; 
     font-family: 'Josefin Sans', sans-serif;
     padding-top: 20px;
     padding-bottom: 10px;
     
}

 .container-header{
    display: flex;
    align-items: center;
    justify-content: space-around
}


.logo{
    width: 210px;
    font-size: 25px;
    color: white;
}

.nav-words-container, .iconos-header-container{
  word-spacing: 30px;
}

.nav-words{
    font-size: 12px;
    text-decoration: none;
    color: white;
    position: relative;
    right: 300px;
    font-family: "Carmen Sans";
}

.iconos-header{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.hr-header{
    width: 80%;
    color: white;
    position: relative;
    left: 150px;
    top: 20px;
} 

/* Comienza el HERO */

*{
    margin:0; 
    padding: 0;

}

.hero{
  /* background-color: #6E845B; */
  padding-bottom: 150px;
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #73885F, #84795B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #73885F, #84795B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo-hero{
  font-family: "Novecento Wide DemiBold"; 
  color:#DBDFA9;
  font-size: 45px;
  width: 80%;
  position: relative;
  left: 150px;
  top: 50px;
}

.stylishArrow{
  color: #E89458;
}

.logo-hero{
    width: 210px;
    font-size: 25px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.text-hero{
  font-family: "Carmen Sans";
  color: white;
  width: 400px;
  font-size: 17px;
  font-weight: 100;
}

.container-hero{
  display: flex;
}

.first-div{
  position: relative;
  left: 150px;
  top: 300px;
}

.ring-text{
  background-color: #E89458;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: relative;
  right: 140px;
  top: 100px;
}

.text-of-ring{
  position: relative;
  left: 35px;
  top: 35px;
  font-family: "Novecento Wide DemiBold"; 
  background-color:#636363;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.price-logo{
  font-family: "Novecento Wide DemiBold";
  color:#DBDFA9;
  font-size: 35px; 
  position: relative;
  left: 70px;
  bottom: 30px;
}

.codigo-barra-img, .logo-hero, .text-hero{
  padding-top: 20px;
}

  
  .img-hero{
    border-radius: 5px;
    width: 40%;
    background-color: aqua;
    position: relative;
    left: 150px;
    height: 500px;
  }

  /* Comienza Main-Uno */

  .mainOne{
    padding-top: 150px;
    padding-bottom: 150px;
    
  }

  .first-div-mainOne, .second-div-mainOne, .third-div-mainOne {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    left: 200px;
    width: 60%;
  }

  .h3-mainOne{
    font-family: "Novecento Wide DemiBold";
    font-size: 30px;
  }

  .texto-mainOne{
     width: 350px;
     color: #555555;
     font-family: "Carmen Sans";
     position: relative;
     left: 150px;
     font-size: 17px;
    
  }

  .texto-mainTwo{
    width: 350px;
    color: #555555;
    font-family: "Carmen Sans";
    position: relative;
    left: 170px;
    font-size: 17px;
   
 }

 .texto-mainThird{
  width: 350px;
  color: #555555;
  font-family: "Carmen Sans";
  position: relative;
  left: 265px;
  font-size: 17px;
 
}

  .hr-mainOne{
    width: 80%;
    position: relative;
    left: 150px;

  }

/* Comienza mainTwo */

.mainTwo{
  padding-bottom: 200px ;
}

.firstDiv-mainTwo{
  display: flex;
  align-items: last baseline;
  position: relative;
  left: 310px;
  width: 900px;
}

.titulo-mainTwo{
   font-family: "Novecento Wide DemiBold";
    font-size: 40px;
    width: 270px;
}

.navWords-mainTwo{
  position: relative;
  left: 280px;
}

.a-mainTwo{
  text-decoration: none;
  color: #555555;
  font-family: "Carmen Sans";
  font-size: 17px;
}

.img-mainTwo{
  width: 900px;
  height: 550px;
  position: relative;
  left: 310px;
  top: 30px;
  border-radius: 5px;
}

.secondDiv-mainTwo{
  display: flex;
  position: relative;
  top: 100px;
  left: 310px;
  width: 70%;
}

.p-mainTwo{
  font-family: "Novecento Wide DemiBold";
  font-size: 20px;
  
}

.precio-mainTwo{
  font-family: "Novecento Wide DemiBold";
   font-size: 60px;
   color: #73885F;  
   width: 300px;
}

.textoDos-mainTwo{
  color: #555555;
  font-family: "Carmen Sans";
  font-size: 17px;
  width: 600px;
}

/* Comienza mainThree */

.mainThree{
  padding-top: 50px;
  padding-bottom: 150px;
  background: #878065;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #878065, #505050);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #878065, #505050); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.firstDiv-mainThree{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 900px;
   position: relative;
   left: 250px;
   top: 20px;
}

.titulo-mainThree{
  font-family: "Novecento Wide DemiBold";
  color: #DBDFA9;
  font-size: 50px;
  width: 300px;
}

.boton-mainThree{
  font-family: "Novecento Wide DemiBold";
  color: #DBDFA9;
  font-size: 30px;
}

.secondDiv-mainThree{
  display: flex;
  justify-content: center;
  position: relative;
  left: 370px;
  top: 50px;
  background-color: #E89458;
  width: 50%;
}

.container1-threeMain{
   background-color: #D9D9D9;
   width: 600px;
   height: 500px;
}

.container2-threeMain{
  background-color: #E3E3E3;
  width: 600px;
  height: 500px
}


.h4-mainThree{
  font-family: "Novecento Wide DemiBold";
  color: #505050;
  font-size: 20px;
  width: 200px;
  
}

.h4Dos-mainThree{
  font-family: "Novecento Wide DemiBold";
  color: #505050;
  font-size: 20px;
  width: 180px;
}

.forum-yellow-div, .blue-air-jordan-div{
  display: flex;
  align-items: last baseline;
  position: relative;
  top: 15px;
  left: 10px;
}

.logo-mainThree{
  color: #555555;
  font-size: 40px;
  position: relative;
  left: 50px;
}

.firstimg-mainThree{
  width: 400px;
}

.secondimg-mainThree{
  width: 400px;
}

/* mainFour */

.mainFour{
  padding-top: 100px;
  padding-bottom: 100px;
}

.h2-p-container{
   display: flex;
   align-items: last baseline;
   justify-content: space-around;
}

.h2-mainFour{
  font-family: "Novecento Wide DemiBold";
  font-size: 40px;
  width: 300px;
}

.p-mainFour{
  font-family: "Novecento Wide DemiBold";
  font-size: 15px;
  width: 100px;
}

.first-container-img{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   position: relative;
   top: 20px;
   width: 100%;
   padding-bottom: 20px;
}

.img-first-container{
   width: 300px;
}

.img-second-container{
   width: 300px;
   position: relative;
   top: 10px;
}

.contenedor-hr-p-p{
  position: relative;
  top: 10px;
}

.hr-first-container{
  height: 2px;
  width: 310px;
  border: 0;
  border-radius: 2px;
  background-color: #505050;
  color: #505050;
}

.titulo-zapas{
  font-family: "Novecento Wide DemiBold";
  font-size: 15px;
  width: 300px;
  color: #505050;
  padding-top: 5px;
}

.precio-zapas{
  font-family: "Novecento Wide DemiBold";
  font-size: 15px;
  width: 100px;
  color: #6e6e6e;
}

.second-container{
  padding-top: 100px;
}

.colab-img-divs{
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.colab-img-div1{
   background-color: #DBDFA9;
   height: 300px;
   width:250px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
}

.colab-img-div2{
  background-color: #E8B592;
  height: 300px;
  width:250px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.colab-img-div3{
  background-color: #A96B6C;
  height: 300px;
  width:250px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.p-colab1{
  font-family: "Novecento Wide DemiBold";
  font-size: 20px;
  width: 220px;
  color: #505050;
  position: relative;
  left: 20px;
  top: 40px;
}

.p-colab2{
  font-family: "Novecento Wide DemiBold";
  font-size: 20px;
  width: 200px;
  color: #505050;
  position: relative;
  left: 25px;
  top: 40px;
}

.p-colab3{
  font-family: "Novecento Wide DemiBold";
  font-size: 20px;
  width: 200px;
  color: #DBDFA9;
  position: relative;
  left: 40px;
  top: 40px;
}

.img-colab{
  width: 250px;
  border: none;
  position: relative;
  top: 120px;
  border-bottom-left-radius: 50px;
}

.img-colab3{
  width: 250px;
  height: 160px;
  border: none;
  position: relative;
  top: 120px;
  border-bottom-left-radius: 50px;
}

/* Comienza el MainFive */

