@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url(//db.onlinewebfonts.com/c/f6c01b136cf37a7e4537ec580df08e63?family=Novecento+Wide+DemiBold);
@font-face {font-family: "Novecento Wide DemiBold"; src: url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.eot"); src: url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.woff") format("woff"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f6c01b136cf37a7e4537ec580df08e63.svg#Novecento Wide DemiBold") format("svg"); }

/* Header */
/* 
html{
   
    background: linear-gradient(180deg, rgba(110,132,91,1) 0%, rgba(110,132,91,1) 35%, rgba(132,119,91,1) 100%);
} */

header{
     background-color: #6e845b; 
    
}

 .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo{
    width: 210px;
    font-size: 25px;
    font-family: "Novecento Wide DemiBold";
    background-color: aqua ;
}

.nav-words{
    font-family: "Novecento Wide DemiBold";
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: aqua ;
}

.iconos-header{
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: aqua ;
}

.hr-header{
    width: 90%;
} 

/* Comienza el HERO */

*{
    margin:0; 
    padding: 0;

}
.container-hero{
  
}

.second-div{
  
}

.text-ring {
    position: relative;
    left: 50px;
  } 
  
  .text-ring [style*=--index] {
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    font-size: calc(var(--font-size, 1) * 1rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
      translate(-50%, -50%)
      rotate(calc(360deg / var(--total) * var(--index)))
      translateY(calc(var(--radius, 5) * -1ch));
  }
  
  .dg :is(.cr.string, .cr.number) input[type=text] {
    color: white;
    line-height: 1;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .img-hero{
    width: 500px;
  }